<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://bzoide.dev/images/logo-white.svg" type="image/x-icon">
    
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="stylesheet" href="/css/icons.css">

    <title>
    

      
        Bzóide | Bzóide: A Origem
      

    
    </title>

</head>

<header class="header">
    <nav class="nav">
  <a href="https://bzoide.dev/" class="nav-logo">
    <img src="https://bzoide.dev/images/logo-white.svg" 
         alt="Home">
  </a>

  <ul class="nav-links">
    
    <li>

      
      
        <a href="/posts/">
          Posts
        </a>
      

    </li>
    
    <li>

      
      
        <a href="/projetos/">
          Projetos
        </a>
      

    </li>
    
  </ul>
</nav>

</header>


<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">Bzóide: A Origem</h1>
    
    <span class="article-date">27/04/2023</span>
    

    <ul class="article-taxonomy">
      
      <li>
        <span>
          <a href="/authors">
            <i class="fa fa-user"></i>
          </a>
           <a href="/%20authors/julio-nunes-avelar">Julio Nunes Avelar</a>
        </span>
      </li>
      <hr>
      
    </ul>

    <div class="article-content justify_text">
      <h1 id="-bzóide-a-origem-">🤖📚 Bzóide: A Origem 🧐</h1>
<p>Se você está lendo este post, é provável que esteja curioso(a) sobre o significado por trás do nome deste blog: Bzóide. 🤔 Afinal, é um nome um tanto quanto &ldquo;diferente&rdquo;, não é mesmo?</p>
<p>Mas não se preocupe, pois estamos aqui para contar a você toda a história por trás desse nome enigmático. 📖</p>
<h2 id="-contexto-histórico">🕰️ Contexto Histórico</h2>
<p>Primeiramente, é importante saber que o Bzóide tem suas raízes na Universidade Estadual de Campinas, mais conhecida como <a href="https://ic.unicamp.br/graduacao/engenharia-da-computacao/">UNICAMP</a>. 🎓 Nessa instituição, no curso de Engenharia da Computação, existem duas áreas de concentração: Sistemas de Computação (AA) e Sistemas e Processos Industriais (AB).</p>
<p>Os estudantes da área AA são carinhosamente chamados de &ldquo;Azóides&rdquo;, enquanto os da área AB são conhecidos como &ldquo;Bzóides&rdquo;. 😎</p>
<p>No entanto, há uma triste realidade por trás dessa história: a maioria dos alunos opta por Sistemas de Computação (AA) em vez de Sistemas e Processos Industriais (AB). 😞 Isso resulta em turmas com mais de 60 Azoides e apenas cerca de meia dúzia de Bzóides.</p>
<p>Por esse motivo, existe uma lenda urbana na UNICAMP que Bzóides são apenas um mito e não existem na realidade. 😱 Mas a verdade é que esses estudantes são raros e, definitivamente, as pessoas mais legais e gente fina da universidade. Então, se você conhecer um bzoide, cuide bem dele, pois ele é realmente uma raridade. 😉</p>
<h2 id="-o-significado-do-nome">🤖🧐 O Significado do Nome</h2>
<p>Agora, você deve estar se perguntando: &ldquo;mas afinal, o que Bzoide significa?&rdquo;. Bem, a resposta é simples: é uma abreviação do nome dado aos estudantes da área AB do curso de Engenharia da Computação da UNICAMP. 😁</p>
<p>E é exatamente por isso que escolhemos esse nome para o nosso blog. Queremos provar para o mundo que Bzóides existem e são muito mais do que um simples mito. 😉</p>
<h2 id="-conclusão">📚 Conclusão</h2>
<p>Em resumo, o nome Bzoide é uma homenagem aos estudantes da área de Sistemas e Processos Industriais do curso de Engenharia da Computação da UNICAMP. 🎓 E, como tal, é uma representação da raridade e da singularidade desses alunos dentro da universidade.</p>
<p>Esperamos que agora você entenda melhor o significado por trás do nome deste blog e fique conosco para acompanhar nossas publicações. 🤖📚</p>

    </div>

    <ul class="article-taxonomy">
      <hr>

      
      <li>
        <a href="/categories">
          <i class="fa fa-category"></i>
        </a>
        <a href="/%20categories/historia">Historia</a>
      </li>
      

      
      <li>
        <a href="/tags">
          <i class="fa fa-tags"></i>
        </a>
        <a href="/%20tags/site">site</a>
      </li>
      
    </ul>
  </article>

</main>

<footer class="footer">
    <ul class="footer-links">
    
        <li>
            <a href=https://github.com/jn513/ target="_blank"><i class="fa fa-github"></i> github </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/jn513/site target="_blank"><i class="fa fa-gitlab"></i> Site </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/lkcamp/lkcamp-hugo-theme target="_blank"><i class="fa fa-gitlab"></i> Tema </a>
        </li>
    
</ul>

</footer>
