<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://bzoide.dev/images/logo-white.svg" type="image/x-icon">
    
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="stylesheet" href="/css/icons.css">

    <title>
    

      
        Bzóide | Genius
      

    
    </title>

</head>

<header class="header">
    <nav class="nav">
  <a href="https://bzoide.dev/" class="nav-logo">
    <img src="https://bzoide.dev/images/logo-white.svg" 
         alt="Home">
  </a>

  <ul class="nav-links">
    
    <li>

      
      
        <a href="/posts/">
          Posts
        </a>
      

    </li>
    
    <li>

      
      
        <a href="/projetos/">
          Projetos
        </a>
      

    </li>
    
  </ul>
</nav>

</header>


<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">Genius</h1>
    

    <div class="article-content justify_text">
      <h1 id="jogo-genius">Jogo Genius</h1>
<p><p class="md__image">
  <img src="https://estrela.vtexassets.com/arquivos/ids/163355/Jogo-Genius-Produto-Estrela.jpg?v=636661399595430000" alt="Imagem do Genius"  />
</p>
</p>
<p>Quer testar se sua memória está afiada? Se sim, que tal jogar Genius?
Uma sugestão ainda melhor, bora fazer um Genius.</p>
<h2 id="tópicos">Tópicos</h2>
<ul>
<li><a href="#o-que-%C3%A9-o-genius">O que é o Genius</a></li>
<li><a href="#o-que-vamos-precisar">O que vamos precisar</a></li>
<li><a href="#como-funciona-o-dispositivo-do-genius">Como funciona o dispositivo do Genius</a></li>
<li><a href="#como-funciona-o-dispositivo-do-genius">Algoritmo</a></li>
<li><a href="#circuito">Circuito</a></li>
<li><a href="#problemas-e-sugest%C3%B5es">Problemas e sugestões</a></li>
</ul>
<h2 id="o-que-é-o-genius">O que é o Genius</h2>
<p>Para quem não sabe ( até alguns dias antes de escrever esse artigo eu também não sabia o que era rs) Genius é um jogo de memória, onde um dispositivo acende um sequência aleatória de luzes e o jogador precisa após o dispositivo reproduzir a sequência, apertar sobre a sequência de luzes, na medida que o jogador acerta uma sequencia ele ganha um ponto e o jogo gera outra sequência maior, esse processo se repete até o jogador errar uma sequência ou zerar o jogo.</p>
<h2 id="o-que-vamos-precisar">O que vamos precisar</h2>
<p><p class="md__image">
  <img src="https://raw.githubusercontent.com/JN513/genius/main/imagens/imagem.jpeg" alt="Imagem do prototipo "  />
</p>
</p>
<p>Para construir o dispositivo do jogo precisaremos de:</p>
<ul>
<li>1 ESP 32 ou 1 ESP32S2</li>
<li>1 buzzer</li>
<li>4 resistores de 220 ohms</li>
<li>4 resistores de 10k ohms</li>
<li>4 push buttons</li>
<li>1 led amarelo</li>
<li>1 led azul</li>
<li>1 led verde</li>
<li>1 led amarelo</li>
<li>jumpers</li>
<li>protoboard</li>
</ul>
<h2 id="como-funciona-o-dispositivo-do-genius">Como funciona o dispositivo do Genius</h2>
<p>O dispositivo do Genius precisa fazer dois tipos de procedimentos principais, o primeiro deles é sortear uma sequência aleatória de acionamento das luzes e  acionar as luzes de acordo com essa sequência, o segundo procedimento que ele precisa fazer e após acionar as luzes e verificar a ordem que o usuário acionou os botões e verificar se esta ordem é igual a ordem correta ou não, caso esse verificação seja verdadeira ele aumenta a pontuação do usuário, caso contrário encerra o jogo.</p>
<h2 id="algoritmo">Algoritmo</h2>
<p>O algoritmo para o funcionamento do jogo consiste de várias partes, a primeira e definir quais portas <a href="https://pt.wikipedia.org/wiki/General_Purpose_Input/Output">GPIO</a> do nosso microcontrolador sejá o ESP32 ou ESP32S2 iremos utilizar, para fazer isso na Linguagem C++ utilizada pela Arduino IDE, podemos salvar os numeros das portas em constantes e nomealas de acordo com o que está conectado a ela:</p>
<div class="highlight"><pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-cpp" data-lang="cpp"><span style="display:flex;"><span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> buzzer = <span style="color:#3677a9">14</span>; <span style="color:#999;font-style:italic">// gpio do buzzer
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> ledAmarelo = <span style="color:#3677a9">15</span>;  <span style="color:#999;font-style:italic">// gpio do led amarelo
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> ledAzul = <span style="color:#3677a9">16</span>;     <span style="color:#999;font-style:italic">// gpio do led azul
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> ledVerde = <span style="color:#3677a9">17</span>;    <span style="color:#999;font-style:italic">// gpio do led verde
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> ledVermelho = <span style="color:#3677a9">18</span>; <span style="color:#999;font-style:italic">// gpio do led vermelho
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> btnAmarelo = <span style="color:#3677a9">19</span>; <span style="color:#999;font-style:italic">// gpio do botão do led amarelo
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> btnAzul = <span style="color:#3677a9">21</span>;    <span style="color:#999;font-style:italic">// gpio do botão do led azul
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span>
</span></span><span style="display:flex;"><span><span style="color:#cd2828;font-weight:bold">#ifdef CONFIG_IDF_TARGET_ESP32S2
</span></span></span><span style="display:flex;"><span><span style="color:#cd2828;font-weight:bold"></span>
</span></span><span style="display:flex;"><span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> btnVerde = <span style="color:#3677a9">26</span>;    <span style="color:#999;font-style:italic">// gpio do botão do led verde; esp32: 22 eps32s2: 26
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> btnVermelho = <span style="color:#3677a9">33</span>; <span style="color:#999;font-style:italic">// gpio do botão do led vermelho; esp32: 23 esp32s2: 33
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span>
</span></span><span style="display:flex;"><span><span style="color:#cd2828;font-weight:bold">#elif CONFIG_IDF_TARGET_ESP32
</span></span></span><span style="display:flex;"><span><span style="color:#cd2828;font-weight:bold"></span>
</span></span><span style="display:flex;"><span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> btnVerde = <span style="color:#3677a9">22</span>;    <span style="color:#999;font-style:italic">// gpio do botão do led verde; esp32: 22 eps32s2: 26
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span><span style="color:#6ab825;font-weight:bold">const</span> <span style="color:#6ab825;font-weight:bold">int</span> btnVermelho = <span style="color:#3677a9">23</span>; <span style="color:#999;font-style:italic">// gpio do botão do led vermelho; esp32: 23 esp32s2: 33
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span>
</span></span><span style="display:flex;"><span><span style="color:#cd2828;font-weight:bold">#endif
</span></span></span></code></pre></div><p>Como neste tutorial podemos usar dois microcontroladores diferentes algumas portas vão mudar dependendo do microcontrolador utilizado, para evitar a utilização de dois códigos podemos incluir algumas condições que serão executadas durante a compilação que são feitas com base em definições feitas pela arduino IDE. Após a definição de quais pinos usaremos precisamos definir como cada um deles vai funcionar, se vai operar como entrada ou saída, para fazermos isso utilizamos a função <code> pinMode()</code>, dentro da nossa função void <em>setup</em> que é executada apenas uma vez após a inicialização do “sistema”.</p>
<div class="highlight"><pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-cpp" data-lang="cpp"><span style="display:flex;"><span>    pinMode(ledAmarelo, OUTPUT); <span style="color:#999;font-style:italic">// configuro a gpio do led amarelo como saída, faço isso para todos os outros leds
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span>    pinMode(ledAzul, OUTPUT);
</span></span><span style="display:flex;"><span>    pinMode(ledVerde, OUTPUT);
</span></span><span style="display:flex;"><span>    pinMode(ledVermelho, OUTPUT);
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    pinMode(btnAmarelo, INPUT); <span style="color:#999;font-style:italic">// configuro a gpio do botão do led amarelo como entrada, faço isso para todos os outros botões
</span></span></span><span style="display:flex;"><span><span style="color:#999;font-style:italic"></span>    pinMode(btnAzul, INPUT);
</span></span><span style="display:flex;"><span>    pinMode(btnVerde, INPUT);
</span></span><span style="display:flex;"><span>    pinMode(btnVermelho, INPUT);
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    alter_all_leds(<span style="color:#3677a9">0</span>); <span style="color:#999;font-style:italic">// apago todos os leds
</span></span></span></code></pre></div><p>A função <em>alter_all_leds</em> É uma função personalizada que terá seu funcionamento mais explicado adiante. Como não vamos utilizar nenhum tipo de display e interessante que nosso microcontrolador nos envie informações via serial, para que isso ocorra devemos setar o iniciar a Serial e configurar o seu baudrate, realizamos isso utilizando o método begin do objeto Serial</p>
<div class="highlight"><pre tabindex="0" style="color:#d0d0d0;background-color:#202020;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-cpp" data-lang="cpp"><span style="display:flex;"><span>    Serial.begin(<span style="color:#3677a9">115200</span>); <span style="color:#999;font-style:italic">// Configuro a porta serial para trabalhar em um baud rate de 115200 bits
</span></span></span></code></pre></div><p>… em breve continua …</p>
<h2 id="circuito">Circuito</h2>
<h3 id="esquemático-do-circuito">Esquemático do Circuito:</h3>
<p><p class="md__image">
  <img src="https://raw.githubusercontent.com/JN513/genius/main/esquematico/genius_esp32_Esquem%C3%A1tico.jpg" alt="Imagem do esquematico "  />
</p>
</p>
<h3 id="visão-da-protoboard-do-circuito">Visão da protoboard do circuito</h3>
<p><p class="md__image">
  <img src="https://raw.githubusercontent.com/JN513/genius/main/protoboard/genius_esp32_bb.jpg" alt="Imagem da protoboard "  />
</p>
</p>
<h2 id="problemas-e-sugestões">Problemas e sugestões</h2>
<p>Fique à vontade para dar sua sugestão ou relatar algum problema na sessão <a href="https://github.com/JN513/genius/issues">Issues do Github</a>, caso queira contribuir fique a vontade para criar um fork e realizar um Pull-Request.</p>

    </div>

    <ul class="article-taxonomy">
      
      <hr>
      <li>
        <i class="fa fa-category"></i><a
          href="/%20categories/projetos">projetos</a><a
          href="/%20categories/hardware">hardware</a>
      </li>
      

      
      <li>
        <i class="fa fa-tags"></i>
        <a href="/%20tags/esp32">esp32</a>
        <a href="/%20tags/jogos">jogos</a>
      </li>
      
  </article>

</main>

<footer class="footer">
    <ul class="footer-links">
    
        <li>
            <a href=https://github.com/jn513/ target="_blank"><i class="fa fa-github"></i> github </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/jn513/site target="_blank"><i class="fa fa-gitlab"></i> Site </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/lkcamp/lkcamp-hugo-theme target="_blank"><i class="fa fa-gitlab"></i> Tema </a>
        </li>
    
</ul>

</footer>
