html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

:root {
  --header-background: #1c1c1e;
  /*#f5f5f5;*/
  --header-border-boton: #eaeaea;
  --title-color: #fff1ff;
  /*#222*/
  --code-background: #f0f0f0;
  --pre-background: #202020;
  --pre-color: #d0d0d0;
  --a-background: rgba(0, 0, 0, 0);
  --a-tap-highlith: rgba(0, 0, 0, 0);
  --blockquote-background: #f5f5f5;
  --blockquote-border: #f5f5f5;
  /*#ccc*/
  --nav-links-color: #f0f0f0;
  /*#444*/
  --nav-links-hover: #dad4d4;
  /*#111*/
  --page-links-color: #dad4d4;
  /*#555*/
  --footer-links: #dad4d4;
  /*#888*/
  --footer-links-hover: #d0d4d4;
  /*#222*/
  --list-item-color: #f0f0f0;
  /*#ddd*/
  --article-image-border: #e6e6e6;
  --article-taxonomy-hr-background: #e8e8e8;
  --article-taxonomy-color: #dad4d4;
  /*#404040*/
  --article-hover: #606060;
  --body-background: #152238;
  --content-background: #152238;
}

body {
  font-family: 'Merriweather', serif;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: var(--body-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: var(--title-color);
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

code {
  border-radius: 3px;
  padding: 1px 3px;
  background: var(--code-background);
  -webkit-hyphens: none;
  hyphens: none;
}

pre {
  overflow-x: auto;
  padding: 8px 12px;
  border-radius: 3px;
  background: var(--pre-background);
  color: var(--pre-color);
}

pre code {
  padding: initial;
  background: transparent;
}

a:hover,
a:active {
  outline: none;
  background-color: var(--a-background);
  -webkit-tap-highlight-color: var(--a-tap-highlith);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 5px solid var(--blockquote-border);
  background: var(--blockquote-background);
  margin: 20px;
  padding-left: 10px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 20px 0;
  position: relative;
  background: var(--header-background);
  border-bottom: 1px solid var(--header-border-boton);
}

.nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
  text-align: right;
}

.nav-logo {
  float: left;
  margin-top: -11px;
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  max-height: 40px;
  width: auto;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--nav-links-color);
}

.nav-links a:hover {
  color: var(--nav-links-hover);
}

.content {
  display: block;
  min-height: calc(100vh - 60px);
  max-width: 700px;
  margin: 60px auto 80px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: var(--page-links-color);
  background-color: var(--content-background);
}

.article-title {
  font-size: 34px;
  color: var(--footer-links-hover);
  margin: 0;
  line-height: 1.3;
}

.article-date {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: var(--blockquote-border);
}

.article-content p {
  margin: 15px 0 25px;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  border-bottom: medium solid var(--code-background);
  transition: border-color 600ms;
}

.article-content a:hover,
.article-content a:active {
  border-color: var(--article-hover);
}

.article-content hr {
  width: 150px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: var(--article-taxonomy-hr-background);
}

.article-taxonomy {
  list-style: none;
  padding-left: 0;
  font-family: 'Lato', sans-serif;
  color: var(--article-taxonomy-color);
  font-size: 14px;
  text-align: left;
}

.article-taxonomy hr {
  width: 200px;
  margin: 5px 0 10px;
  height: 1px;
  border: none;
  background: var(--article-taxonomy-hr-background);
}

.article-taxonomy a {
  display: inline-block;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: inherit;
  transition: color 300ms;
}

.article-taxonomy a:hover,
.article-taxonomy a:active {
  color: var(--blockquote-border);
}

.article-image-large {
  padding: 2px;
  border: solid 1px var(--article-image-border);
  opacity: 1;
  transition: opacity 1s;
}

.article-image-large:hover,
.article-image-large:active {
  opacity: 0.5;
}

.list,
.category,
.tag-cloud {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

.list-title,
.category-title,
.tag-cloud-title {
  font-size: 32px;
  margin-top: 60px;
  padding-bottom: 10px;
}

.list-item {
  margin: 0 0 20px;
  padding: 0;
}

.list-item-date {
  display: block;
  padding: 4px 0;
  font-family: 'Lato', sans-serif;
  color: var(--blockquote-border);
  font-size: 14px;
}

.list-item a {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 0;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: var(--blockquote-border);
  border-bottom: 1px solid var(--list-item-color);
  transition: border-color 300ms;
}

.list-item a:hover {
  border-color: var(--footer-links-hover);
}

.category-item {
  display: block;
  list-style: none;
  margin: 5px 0 15px;
  padding: 0;
}

.category-item a {
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: var(--footer-links-hover);
  transition: color 300ms;
}

.category-item-count {
  font-family: 'Lato', sans-serif;
  margin-right: 15px;
  color: var(--blockquote-border);
  font-size: 14px;
  font-weight: bold;
}

.tag-cloud-item {
  margin: 0;
  padding: 0;
}

.tag-cloud-item li {
  display: inline-block;
  list-style: none;
  padding: 0 15px 15px 0;
}

.tag-cloud-item a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: var(--footer-links-hover);
  transition: color 300ms;
}

.tag-cloud-item a:hover,
.tag-cloud-item a:active,
.category-item a:hover,
.category-item a:active {
  color: var(--blockquote-border);
}

.footer {
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--blockquote-border);
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: var(--footer-links);
  text-decoration: none;
  transition: color 300ms;
  margin: 0 5px;
}

.footer-links a:hover {
  color: var(--footer-links-hover);
}

.footer-links li::before {
  content: '•';
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}

.page-links {
  margin: 25px 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.page-links li {
  display: inline-block;
}

.page-links a {
  text-decoration: none;
  padding: 0 5px;
  color: var(--page-links-color);
  transition: color 300ms;
}

.page-links a:hover {
  color: var(--blockquote-border);
}

.page-links-active a,
.page-links-disabled a {
  text-decoration: none;
  color: var(--blockquote-border);
}

.error-page-title {
  text-align: center;
  font-size: 76px;
}

.error-page-content {
  text-align: center;
}

.error-page-content a {
  text-decoration: none;
  color: inherit;
  transition: color 600ms;
}

.error-page-content a:hover,
.error-page-content a:active {
  color: var(--blockquote-border);
}

@media (min-width: 600px) {
  code {
    padding: 2px 4px;
  }

  pre,
  code {
    font-size: 17px;
  }

  .header {
    padding: 25px 0;
  }

  .nav-logo {
    margin-top: -13px;
  }

  .nav-logo img {
    max-height: 50px;
  }

  .nav-links {
    font-size: 18px;
  }

  .nav-links li {
    margin: 0 0 0 30px;
  }

  .content {
    font-size: 19px;
    line-height: 1.8;
    margin: 100px auto;
  }

  .article-title {
    font-size: 42px;
  }

  .article-date {
    font-size: 19px;
  }

  .article-taxonomy {
    font-size: 17px;
  }

  .list-title,
  .category-title,
  .tag-cloud-title {
    font-size: 38px;
  }

  .list-item a {
    padding: 5px 0;
    font-size: 21px;
  }

  .list-item-date {
    padding: 5px 0;
    font-size: 17px;
    text-align: right;
    float: right;
  }

  .category-item {
    display: inline-block;
  }

  .category-item a {
    font-size: 21px;
  }

  .footer-links {
    font-size: inherit;
  }

  .footer-links a {
    margin: 0 15px;
  }

  .page-links {
    font-size: 19px;
  }

  .error-page-title {
    font-size: 114px;
  }
}

.justify_text {
  text-align: justify;
}