<header class="header">
    <nav class="nav">
  <a href="https://bzoide.dev/" class="nav-logo">
    <img src="https://bzoide.dev/images/logo-white.svg" 
         alt="Home">
  </a>

  <ul class="nav-links">
    
    <li>

      
      
        <a href="/posts/">
          Posts
        </a>
      

    </li>
    
    <li>

      
      
        <a href="/projetos/">
          Projetos
        </a>
      

    </li>
    
  </ul>
</nav>

</header>


  <main class="content">
      <div>
        <h1 class="error-page-title">404</h1>
      </div>
      <div class="error-page-content">
        
        <div>
          <a href="https://bzoide.dev/"><i class="fa fa-chevron-up"></i></a>
        </div> 
      </div>     
  </main>

<footer class="footer">
    <ul class="footer-links">
    
        <li>
            <a href=https://github.com/jn513/ target="_blank"><i class="fa fa-github"></i> github </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/jn513/site target="_blank"><i class="fa fa-gitlab"></i> Site </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/lkcamp/lkcamp-hugo-theme target="_blank"><i class="fa fa-gitlab"></i> Tema </a>
        </li>
    
</ul>

</footer>


  
