<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://bzoide.dev/images/logo-white.svg" type="image/x-icon">
    
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="stylesheet" href="/css/icons.css">

    <title>
    

      
        Bzóide | Lora - Uma tecnologia que o software livre pode contribuir
      

    
    </title>

</head>

<header class="header">
    <nav class="nav">
  <a href="https://bzoide.dev/" class="nav-logo">
    <img src="https://bzoide.dev/images/logo-white.svg" 
         alt="Home">
  </a>

  <ul class="nav-links">
    
    <li>

      
      
        <a href="/posts/">
          Posts
        </a>
      

    </li>
    
    <li>

      
      
        <a href="/projetos/">
          Projetos
        </a>
      

    </li>
    
  </ul>
</nav>

</header>


<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">Lora - Uma tecnologia que o software livre pode contribuir</h1>
    
    <span class="article-date">27/04/2023</span>
    

    <ul class="article-taxonomy">
      
      <li>
        <span>
          <a href="/authors">
            <i class="fa fa-user"></i>
          </a>
           <a href="/%20authors/julio-nunes-avelar">Julio Nunes Avelar</a> <a href="/%20authors/tiago-silveira-zaparoli">Tiago Silveira Zaparoli</a>
        </span>
      </li>
      <hr>
      
    </ul>

    <div class="article-content justify_text">
      <h1 id="lora---uma-tecnologia-que-o-software-livre-pode-contribuir">LoRa - Uma tecnologia que o software livre pode contribuir</h1>
<h2 id="o-que-é-lora">O que é LoRa?</h2>
<p>LoRa é uma tecnologia de comunicação via rádio de baixa frequência que permite comunicação a longas distâncias com baixo consumo de energia, seu alcance gira em torno de 3 a 4 km em áreas urbanas e chega até aos 12 km em áreas rurais com ampla visada. Sua utilização mais comum é em dispositivos IoT (Internet of things / Internet das coisas) em aplicações desde sistemas de monitoramento como sensores a sistema de acionamento, e utilizada sobretudo em dispositivos que têm baixa capacidade energética como dispositivos mantidos em baterias, dispositivos em locais de difícil acesso, entre outros. Apenas para atributo de curiosidade a sigla LoRa significa Long Range (em tradução livre longo alcance).</p>
<h2 id="por-que-usar-lora">Por que usar LoRa?</h2>
<p>LoRa, assim como todas as tecnologias de comunicação, tem suas vantagens e desvantagens, com a maior desvantagem sendo sua baixa largura de banda. Você pode se perguntar o porquê da utilização de LoRa ao invés de tecnologias como Wi-Fi, GSM e Bluetooth, por exemplo. Essas tecnologias citadas têm vantagens como a facilidade de utilização, devido a ampla literatura disponível, capacidade de largura de banda considerável, e, em casos como o GSM, amplo alcance. A maior vantagem do LoRa sobre essas tecnologias citadas que justifica a sua utilização é o baixo consumo de energia e o longo alcance sem depender de infraestruturas de terceiros (como é o caso do GSM). Dispositivos com comunicação via Wi-Fi e Bluetooth têm seu alcance limitado a casa dos 200 metros na melhor das hipóteses, e um consumo de energia muito elevado levando em conta as características de dispositivos IoT, enquanto a utilização de GSM fornece um alcance muito amplo devido a grande cobertura de rede móvel disponível atualmente, apesar de seu consumo ser relativamente alto e dependente de infraestrutura das operadoras da rede. Sendo essas e outras lacunas que favorecem a utilização de LoRa sobre essas e outras tecnologias principalmente em casos onde o longo alcance e baixo consumo precisam andar lado a lado.</p>
<h2 id="protocolos-para-lora">Protocolos para LoRa.</h2>
<p>Assim como outras tecnologias de comunicação, LoRa também possui alguns protocolos que rodam sobre ela, como é o caso do LoRaWAN e LoRa Mesh.</p>
<h3 id="lorawan">LoRaWAN.</h3>
<p>LoRaWAN é o nome do principal protocolo utilizado com LoRa, ele define desde a arquitetura do sistema aos parâmetros de comunicação utilizando LoRa. Atualmente o protocolo LoRaWAN é utilizado de forma majoritária por quase todas as aplicações LoRa existentes. Ele implementa detalhes de funcionamento, segurança, qualidade do serviço, ajustes de potência e os tipos de aplicações utilizadas tanto do lado do dispositivo IoT como do lado do servidor.</p>
<h4 id="arquitetura">Arquitetura.</h4>
<p>O protocolo LoRaWAN utiliza uma topologia em camadas, com uma topologia em estrela sendo utilizada para comunicação entre os dispositivos LoRa, com todos os dispositivos baseados em LoRa se comunicando com um gateway e esse gateway se comunicando com o restante da rede, com esse gateway funcionando como uma espécie de ponte enviando informações da rede para os dispositivos e dos dispositivos para rede.</p>
<p><p class="md__image">
  <img src="/imgs/posts/lora/arquitetura-lorawan.png" alt="Arquiterua LoRaWAN"  />
</p>

Topologia LoraWAN - fonte UFRJ</p>
<h4 id="dispositivos-endpoints">Dispositivos Endpoints</h4>
<p>São os dispositivos básicos da rede como sensores e atuadores, com estes sendo a camada mais externa da rede e utilizam apenas LoRa para comunicação.</p>
<h4 id="gateways">Gateways</h4>
<p>São os dispositivos responsáveis, como já dito anteriormente, por realizar a ponte entre os endpoints e o restante da rede (roteadores, servidores, etc). No geral esses dispositivos possuem capacidade de comunicação por 2 ou mais meios, sendo comumente LoRa e algum outro tipo de tecnologia de comunicação, como LoRa e Wi-Fi ou LoRa e Ethernet, por exemplo. Um gateway pode receber dados de milhares de dispositivos e encaminhá-los para um servidor de rede. A cobertura de um gateway depende apenas da potência dos seus módulos LoRa e da topologia do local onde ele está instalado com o raio de cobertura variando entre 2 e 15 km de acordo com estes parâmetros.</p>
<h4 id="classes-de-dispositivos">Classes de dispositivos</h4>
<p>Para atender diversas demandas distintas, no protocolo LoRaWAN foram definidas três classes de dispositivos:</p>
<ol>
<li>Classe A - Sensores: Comunicação bi-direcional, recepção após transmissão. (Os módulos só podem receber dados em janelas de tempo pré determinadas e imediatamente após realizarem uma transmissão).</li>
<li>Classe B - Atuadores: Comunicação bi-direcional, com janelas de recepção agendadas.</li>
<li>Classe C - Bidirecional, com recepção de dados quase a todo momento: Nesta classe o módulo sempre está apto a receber dados do gateway.</li>
</ol>
<h4 id="segurança">Segurança</h4>
<p>O protocolo LoRaWAN fornece dois níveis de segurança, com a parte do pacote que contém o “payload” sendo encriptado com criptografia AES 128 e com o pacote como um todo sendo assinado utilizando criptografia AES 128 para garantir a integridade do pacote enviado, garantindo assim que o pacote não foi alterado por erros ou propositalmente.</p>
<p><p class="md__image">
  <img src="/imgs/posts/lora/Lora-seguranca.webp" alt="Segurança do LoRaWAN"  />
</p>

Segurança do protocolo LoRaWAN - Fonte: Embarcados</p>
<h4 id="vantagens-e-desvantagens">Vantagens e desvantagens</h4>
<p>LoRaWAN tem diversas vantagens, como a alta eficiência energética, fácil implementação, literatura disponível com bastante abundância e padrões bem definidos. Por outro lado é um protocolo altamente centralizado, onde para se ter redundância você fica obrigado a ter gateways com raios de cobertura sobrepostos, além disso, para locais com relevo com diversos obstáculos, os gateways tem seu alcance limitado, fazendo com que tenha se gasto com repetidores ou outros gateways.</p>
<h3 id="lora-mesh">LoRa Mesh</h3>
<p>Começando a explicação pelo nome Mesh, mesh significa malha ou seja uma rede mesh é uma rede em malha onde se tem diversos nós e esses nós conseguem se comunicar entre si. Em uma rede mesh quanto mais nós a rede tem maior o seu alcance, mas em compensação o consumo de energia dos dispositivos da rede aumenta e a capacidade diminui, pois os nós começam a ter que processar e transmitir informações de outros nós.</p>
<h4 id="arquitetura-1">Arquitetura.</h4>
<p>O protocolo LoRa Mesh utiliza uma topologia em malha, em que todos os dispositivos conseguem fazer uma mensagem chegar a outro sem necessariamente passar por um gateway. Para realizar a comunicação com o servidor a rede pode utilizar uma espécie de gateway, mas mais de um dispositivo pode assumir essa condição de gateway e fazer uma ponte com a internet.</p>
<p><p class="md__image">
  <img src="/imgs/posts/lora/topologia-malha.jpeg" alt="Topologia em Malha"  />
</p>

Topologia em malha</p>
<h4 id="segurança-1">Segurança</h4>
<p>O protocolo LoRa Mesh não fornece nenhum padrão específico para segurança, com esse padrão ficando a cargo da implementação da rede. Para segurança na rede LoRa Mesh recursos do LoRaWAN podem ser reaproveitados.</p>
<h4 id="vantagens-e-desvantagens-1">Vantagens e desvantagens</h4>
<p>A maior vantagem da rede LoRa Mesh é a alta disponibilidade e redundância da rede, além de sua cobertura muito maior, já que quanto mais dispositivos se tem na rede, maior sua capacidade de alcance. Por outro lado sua implementação é muito mais complexa e possui muito menos literatura disponível do que LoRaWAN, além de sua menor eficiência energética, que para dispositivos baseados em bateria é algo com grande impacto.</p>
<h2 id="faixas-de-operação">Faixas de operação.</h2>
<p>LoRa opera em faixas de frequências de 433MHz a 928 MHz, com cada país tendo uma regulamentação específica. No Brasil as faixas regulamentadas pela Anatel são de 902 MHz a 907.5 MHz e de 915 MHz a 928 MHz.</p>
<p><p class="md__image">
  <img src="/imgs/posts/lora/faixa-operacao.webp" alt="Faixa de operação"  />
</p>

Faixas de comunicação LoRa - Fonte: Eletrogate</p>
<h2 id="redes-colaborativas">Redes Colaborativas.</h2>
<p>Atualmente temos diversos projetos que tem como objetivo permitir o desenvolvimento de redes LoRa WAN com custos baixo, uma das formas de fazer isso é através de redes colaborativas onde cada indivíduo ou um grupo de indivíduos mantém um gateway por conta própria e permite a utilização deste gateway de forma gratuita por outras pessoas, tendo se uma rede com uma ampla cobertura em que qualquer pessoa pode usar e o custo de aquisição e manutenção se torna totalmente diluído, além de não depender de nenhuma entidade central para manutenção destes equipamentos. Uma grande iniciativa na área é a The Things Network (TTN). A The Things Network e uma rede IoT colaborativa de escala global que fornece uma estrutura cloud de baixo custo para conexão de gateways e aplicações baseadas em LoRa, assim toda vez que alguém compra ou monta um gateway e conecta a TTN, qualquer usuário da rede pode começar a usar aquele gateway para acessar a Cloud da TTN, desta forma se cria uma rede global cada vez maior de forma totalmente colaborativa e diluída.</p>
<h2 id="desenvolvimento-de-bibliotecas-lora">Desenvolvimento de Bibliotecas LoRa.</h2>
<p>Atualmente existem diversas bibliotecas que permitem a utilização de LoRa em sua forma “pura” ou através do LoRaWAN, só que essas bibliotecas possuem suas limitações de implementações para certas arquiteturas, com muitos microcontroladores não possuindo um porte nativo para ele, ou quando existe a biblioteca está abandonada. A boa notícia é que por existir diversas bibliotecas prontas, existe algo já feito para se basear, necessitando-se apenas do porte para as tecnologias nativas de certos microcontroladores.</p>
<h2 id="desenvolvimento-do-protocolo-lora-mesh">Desenvolvimento do Protocolo LoRa Mesh.</h2>
<p>LoRa Mesh é uma tecnologia que por mais que seja muito promissora, ainda permanece pouco implementada e documentada, com grande parte do que está atualmente feito tendo de forma proprietária, dificultando assim o seu desenvolvimento e utilização em larga escala por diversas pessoas. Desta forma há muito a se fazer, como o desenvolvimento de padrões, documentação, além da implementação prática mesmo de software para viabilizar o padrão LoRa Mesh.</p>
<h2 id="como-o-software-livre-pode-ajudar-a-difundir-lora">Como o software livre pode ajudar a difundir LoRa.</h2>
<p>Como dito nos últimos tópicos, há muita coisa a se desenvolver para LoRa ainda, desde bibliotecas a protocolos completos, e, desta forma uma das possíveis soluções para resolver esse problema é a utilização de software livre, criando bibliotecas e protocolos completamente livres, permitindo assim a contribuição por parte de toda comunidade para o desenvolvimento e manutenção dessas tecnologias. Antes de finalizar este artigo gostaria de trazer algumas propostas de contribuições por parte da comunidade: atualmente existe uma falta de bibliotecas nativas para utilização de LoRa com as famílias de microcontroladores ESP32 (ESP32, ESP32S2, ESP32C3, ESP32S2, etc) usando o framework nativo o ESP-IDF; existe falta de bibliotecas nativas também para plataforma STM, entre outras; além disso existem diversos portes para utilização de outras linguagens e frameworks de desenvolvimento que não possuem bibliotecas para utilização de LoRa, como o zephyr RTOS, e a linguagem RUST em diversos microcontroladores; por último queria sugerir também a contribuição para a construção de um protocolo LoRa Mesh totalmente open source.</p>
<p>Algumas das sugestões citadas acima já possuem algumas iniciativas na área, algumas até de minha autoria. Como os seguintes projetos (atualizados no momento da escrita deste artigo, podendo, eventualmente sofrer alterações em seus detalhes) :</p>
<p>Biblioteca LoRa para o ESP-IDF: <a href="https://github.com/JN513/esp32-lora-library">https://github.com/JN513/esp32-lora-library</a></p>
<p>Biblioteca para utilização de Módulo LoRa via UART para o ESP-IDF: <a href="https://github.com/JN513/esp32_uart_sx1276">https://github.com/JN513/esp32_uart_sx1276</a></p>
<p>Gateway LoRaWAN baseado no ESP32: <a href="https://github.com/JN513/lora_gateway">https://github.com/JN513/lora_gateway</a></p>
<p>Implementação de LoRa Mesh: <a href="https://github.com/JN513/Lora_Mesh_Network">https://github.com/JN513/Lora_Mesh_Network</a></p>
<p>Gateway baseado no Raspberry PI: <a href="https://github.com/tftelkamp/single_chan_pkt_fwd">https://github.com/tftelkamp/single_chan_pkt_fwd</a></p>
<p>Gateway baseado no Raspberry PI: <a href="https://github.com/ch2i/LoraGW-Setup">https://github.com/ch2i/LoraGW-Setup</a></p>
<p>Gateway LoRaWAN baseado no ESP32: <a href="https://github.com/sparkfun/ESP32_LoRa_1Ch_Gateway">https://github.com/sparkfun/ESP32_LoRa_1Ch_Gateway</a></p>
<h2 id="fontes">Fontes:</h2>
<p>EMBARCADOS.  Conheça a tecnologia LoRa® e o protocolo LoRaWAN. Disponivel em: <a href="https://embarcados.com.br/conheca-tecnologia-lora-e-o-protocolo-lorawan/">https://embarcados.com.br/conheca-tecnologia-lora-e-o-protocolo-lorawan/</a> Acesso em: 04/04/2023</p>
<p>Bertamoni, N. R. . Avaliação do esquema de modulação LoRa implementado em GNURadio e sintetizado em SDR. Disponível em: <a href="https://www.lume.ufrgs.br/bitstream/handle/10183/235783/001136770.pdf?sequence=1">https://www.lume.ufrgs.br/bitstream/handle/10183/235783/001136770.pdf?sequence=1</a> Acesso em: 07/04/2023</p>
<p>UFRJ. Arquitetura da Rede. Disponivel em: <a href="https://www.gta.ufrj.br/ensino/eel878/redes1-2019-1/vf/lora/arquitetura.html">https://www.gta.ufrj.br/ensino/eel878/redes1-2019-1/vf/lora/arquitetura.html</a> Acesso em: 07/04/2023</p>
<p>ELETROGATE. Monitoramento de Temperatura com Heltec ESP32 LoRa. Disponível em: <a href="https://blog.eletrogate.com/monitoramento-remoto-de-temperatura-utilizando-a-heltec-esp32-lora/">https://blog.eletrogate.com/monitoramento-remoto-de-temperatura-utilizando-a-heltec-esp32-lora/</a> Acesso em: 10/04/2023</p>
<p>Redes Informáticas. Topologias de rede. Disponivel em: <a href="https://redesinformticas-juca.blogspot.com/2009/11/topologias-de-rede.html">https://redesinformticas-juca.blogspot.com/2009/11/topologias-de-rede.html</a> Acesso em: 10/04/2023</p>
<p>EMBARCADOS. The Things Network: uma rede para IoT colaborativa. Disponivel em: <a href="https://embarcados.com.br/the-things-network-rede-iot/">https://embarcados.com.br/the-things-network-rede-iot/</a> Acesso em: 10/04/2023</p>
<p>EMBARCADOS. Gateways LoRa: soluções open-source hardware. Disponivel em: <a href="https://embarcados.com.br/gateways-lora-open-source-hardware/">https://embarcados.com.br/gateways-lora-open-source-hardware/</a> Acesso em: 10/04/2023</p>

    </div>

    <ul class="article-taxonomy">
      <hr>

      
      <li>
        <a href="/categories">
          <i class="fa fa-category"></i>
        </a>
        <a href="/%20categories/hardware">Hardware</a><a href="/%20categories/lora">LoRa</a><a href="/%20categories/bibliotecas">Bibliotecas</a>
      </li>
      

      
      <li>
        <a href="/tags">
          <i class="fa fa-tags"></i>
        </a>
        <a href="/%20tags/lora">LoRa</a><a href="/%20tags/lorawan">LoRaWAN</a><a href="/%20tags/lora-mesh">LoRa Mesh</a><a href="/%20tags/free-software">Free software</a>
      </li>
      
    </ul>
  </article>

</main>

<footer class="footer">
    <ul class="footer-links">
    
        <li>
            <a href=https://github.com/jn513/ target="_blank"><i class="fa fa-github"></i> github </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/jn513/site target="_blank"><i class="fa fa-gitlab"></i> Site </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/lkcamp/lkcamp-hugo-theme target="_blank"><i class="fa fa-gitlab"></i> Tema </a>
        </li>
    
</ul>

</footer>
