<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://bzoide.dev/images/logo-white.svg" type="image/x-icon">
    
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="stylesheet" href="/css/icons.css">

    <title>
    

      
        Bzóide | Tags
      

    
    </title>

</head>

<header class="header">
    <nav class="nav">
  <a href="https://bzoide.dev/" class="nav-logo">
    <img src="https://bzoide.dev/images/logo-white.svg" 
         alt="Home">
  </a>

  <ul class="nav-links">
    
    <li>

      
      
        <a href="/posts/">
          Posts
        </a>
      

    </li>
    
    <li>

      
      
        <a href="/projetos/">
          Projetos
        </a>
      

    </li>
    
  </ul>
</nav>

</header>


<main class="content">

  <div class="tag-cloud">
    <h2 class="tag-cloud-title">Tags</h2>
    
    
    
    
    
    
    
    
        
    <ul class="tag-cloud-item">
        
            
            
            
            
            
            <li><a href="/tags/esp32" style="font-size:1rem">esp32</a></li>
        
            
            
            
            
            
            <li><a href="/tags/free-software" style="font-size:1rem">free-software</a></li>
        
            
            
            
            
            
            <li><a href="/tags/jogos" style="font-size:1rem">jogos</a></li>
        
            
            
            
            
            
            <li><a href="/tags/lora" style="font-size:1rem">lora</a></li>
        
            
            
            
            
            
            <li><a href="/tags/lora-mesh" style="font-size:1rem">lora-mesh</a></li>
        
            
            
            
            
            
            <li><a href="/tags/lorawan" style="font-size:1rem">lorawan</a></li>
        
            
            
            
            
            
            <li><a href="/tags/site" style="font-size:1rem">site</a></li>
        
    </ul>
    
  </div>

</main>

<footer class="footer">
    <ul class="footer-links">
    
        <li>
            <a href=https://github.com/jn513/ target="_blank"><i class="fa fa-github"></i> github </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/jn513/site target="_blank"><i class="fa fa-gitlab"></i> Site </a>
        </li>
    
        <li>
            <a href=https://gitlab.com/lkcamp/lkcamp-hugo-theme target="_blank"><i class="fa fa-gitlab"></i> Tema </a>
        </li>
    
</ul>

</footer>

